.adminPage{
    margin: 8rem;
    display: grid;
    row-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
}

.texts{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 2rem;
}

.imgStyle{
    width: 10rem;
}