.movieDetCard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    border-style: groove;
    border-color:darkcyan;
    border-width: 7px;
    border-radius: 25px;
    margin:8rem ;
}

.des{
    font-weight: bolder;
}

.imgSize{
    width: 15rem;
}

.part1OfCard{
    /* width: 50rem; */
    margin-left: 1rem;
}